html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color:#000;
  color:red;
}

main {
  height: 100vh;
}
.first-row,.imageEditor-flex-box {
  min-height: 500px;
}
.second-row {
  min-height: 200px;
}
.canvas-area {
  min-width: 60% !important;
}

.imageEditor-flex-box,.imageEditortools-flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.edting-image{
  width:50%;
  height:50%;
}
.editor-section{
  padding:20px;
}
#demo-simple-select1,#demo-simple-select2{
  max-width:33% !important;
  color:white;
  background-color:white;
}
#demo-simple-select-label1[data-shrink=true],#demo-simple-select-label2[data-shrink=true]{
  color:white;
  font-weight:700;
  font-size:14px;
}